* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}

#banner {
    background-image: url("images/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1600px;
    height: 800px;
    margin: 0 auto;
    flex-wrap: nowrap;
    margin-bottom: 130px;

}

.banner-content h1 {
    max-width: 525px;
    color: #151414;
    font-size: 65px;
    margin: 216px 230px 0px 845px;
    text-align: right;


}

.banner-content p {
    max-width: 498px;
    color: #444343;
    line-height: 26px;
    font-size: 16px;
    margin: 24px 230px 32px 886px;
    text-align: right;


}

.btn {
    margin: 0px 230px 86px 1210px;
    background-color: #F15B22;
    color: #FFFFFF;
    text-align: center;
    width: 160px;
    /* border: none; */
    border-radius: 10px;
    font-size: 20px;
    font-family: 600;
    padding: 20px 0px;
    cursor: pointer;
    box-shadow: 0px 5px 20px 0px black;
    border: 1px solid transparent;
}

.btn:hover {
    background-color: rgb(128, 4, 128);
    color: white;

}

.btn:active {
    background-color: rgba(255, 255, 255, 0.114);
    color: black;
    border-color: #ca9720;
    /* To solve the click with text moving prob(layout reflow) you just need to add border to btn and color to active */
}

#failure {
    max-width: 1140px;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 130px;
}

.failure-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
}

.failure-container img {
    max-width: 570px;
    padding: 20px 20px 0px;
    vertical-align: middle;
}

.failure-content {

    max-width: 480px;
    padding: 100px 50px 100px 50px;
}

.failure-content h2 {
    font-size: 40px;
    color: #151414;
    font-family: bold;
    margin-bottom: 24px;
}

.failure-content p,
li {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;

}

.failure-list li {
    list-style-type: none;
    margin-bottom: 8px;
}

#plan {
    max-width: 1140px;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 130px;


}

.plan-container h2 {
    font-weight: bold;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
    flex-wrap: wrap;
}

.cards {
    max-width: 218px;
    text-align: center;


}

.cards h4 {
    font-size: 27px;
    font-weight: Bold;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;

}

#call {
    max-width: 1140px;
    width: 84%;
    background: url("images/gradient2.png"), url("images/watch.png");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 130px;
}

.call-btn {
    margin: 0;
    color: #F15B22;
    background: white;
}

.call-btn:active {
    color: white;
    background: #11afda;
}

.call-container {
    padding: 59px 617px 59px 64px;
}

.call-container h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

footer {
    max-width: 1600px;
    width: 84%;
    background: #151414;
    margin: 0 auto;
}

.footer-container {
    max-width: 1140px;
    width: 84%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 331px;
    padding: 130px 0;
}



.footer-info {
    margin-bottom: 24px;
}

.footer-info h2 {
    color: #FFFFFF;
    font-size: 46px;
    font-weight: bold;
    padding: 10px 5px;
    margin-bottom: 16px;

}

.footer-info p,
.social-info p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    padding-right: 0;
}




.ipt h3 {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 31px;
    margin-top: 10;
}

.ipt input[type="email"] {
    padding: 20px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 16px;

}

input::placeholder {
    color: #FFFFFF;
    font-size: 18px;
}

.social-info p {
    margin-bottom: 16px;
}

.social-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13px;
}

.subs-btn {
    margin: 0px;
    color: #F15B22;
    background-color: #FFFFFF;
    font-weight: 600;

}