* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    background-image: url("images/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1600px;
    height: 800px;
    margin: 0 auto;
    flex-wrap: nowrap;
    margin-bottom: 130px;

}

.banner-content h1 {
    max-width: 525px;
    color: #151414;
    font-size: 65px;
    margin: 216px 230px 0px 845px;
    text-align: right;


}

.banner-content p {
    max-width: 498px;
    color: #444343;
    line-height: 26px;
    font-size: 16px;
    margin: 24px 230px 32px 886px;
    text-align: right;


}

.btn {
    margin: 0px 230px 86px 1210px;
    background-color: #F15B22;
    color: #FFFFFF;
    text-align: center;
    width: 160px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 600;
    padding: 20px 0px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(128, 4, 128);
    color: white;
    /* transform: scale(1.05); */
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.114);
    color: black;
    /* transform: scale(1.05); */
    border: 1px solid gold;
}

#failure {
    max-width: 1140px;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 130px;
}

.failure-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px
}

.failure-container img {
    max-width: 570px;
    padding: 20px 20px 0px;
    vertical-align: middle;
}

.failure-content {

    max-width: 480px;
    padding: 100px 50px 100px 50px;
}

.failure-content h2 {
    font-size: 40px;
    color: #151414;
    font-family: bold;
    margin-bottom: 24px;
}

.failure-content p,
li {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;

}

.failure-list li {
    list-style-type: none;
    margin-bottom: 8px;
}

#plan {
    max-width: 1140px;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 130px;


}

.plan-container h2 {
    font-weight: bold;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
    flex-wrap: wrap;
}

.cards {
    max-width: 218px;
    text-align: center;


}

.cards h4 {
    font-size: 27px;
    font-weight: Bold;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;

}